*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.main-container{
    height: 100vh;
    width: 100vw;
    display: grid;
    background-color: #333;
    grid-template-columns: repeat(3, 50px);
    grid-template-rows: repeat(2, 120px);
    justify-content: space-around;
    align-items: center;
    
   
}

.win{
    display: none;
    height: 100%;
    width: 100%;
    background-color: olive;
    animation: whoa;
    opacity: 1;
    animation-fill-mode: forwards;
    animation-iteration-count: 2;
    animation-duration: 3s;
}

/* @keyframes whoa{
    0%{
      opacity: 0;
    }
    25%{
        
    }
    75%{
    
        
    }
    100%{
     opacity: 1;
    } 
 } */

.item{
    height: 100px;
    width: 50px;
    background-color: ivory;
}

.item-2{
    order: 0;
    background-color: rgb(0, 109, 252);
}

.item-3{
    order: 0;
    background-color: rgb(252, 0, 105);
}

.item-4{
    order: 0;
    background-color: rgb(252, 122, 0);
}

.item-5{
    order: 0;
    background-color: lawngreen;
}

.item-6{
    order: 0;
    background-color: rgb(109, 0, 252);
}

.item-1{
    order: 0;
    background-color: rgb(227, 252, 0);
}

