*{
    box-sizing: border-box;
}

.ben-pic{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 5px solid rgb(119, 107, 107);
    box-shadow: 20px 20px 10px black;
}

.ben-pic:hover{
    border: 5px solid white;
}

.div1{
    display: flex;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    background-color: grey;
}

.div2{
    margin-top: 10%;
}