*{
    box-sizing: border-box;
}
html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(136, 129, 129);
    font-family: 'Overpass', sans-serif;
}

h1{
    font-weight: bold;
}

h1, h3 {
    margin: 0;
    padding: 0;
}
.games-main-container{
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color: white;
}

.game-container{
    height: 600px;
    width: 100%;
    border: 5px solid white;
    margin: 10px;
    background-color: rgb(176, 176, 207);
    border-radius: 10px;
    box-shadow: 10px 10px 10px black;
}

.game-container h1{
    text-align: center;
    padding-top: 40px;
}

#game-1{
    display: block;
    width: 100%;
    height: 100%;
    background-color: blue;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

#aim-box{
    height: 440px;
    width: 1650px;
    position: relative;
}
#game-2{
    position: relative;
    padding: 30px 100px;
    background-color: rgb(29, 171, 236);
    height: 100%;

}

#game-2 h1{
    display: block;
    padding: 0;
    margin: 0;
    
}

#target{
    display: none;
    position: absolute;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-image: url('target.jpg');
    background-position: center;
    background-size: cover;
}
#target:hover{
    cursor: pointer;
    height: 60px;
    width: 60px;
}

#clickStart{
    padding: 200px;
    display: block;
}
#clickStart:hover{
    cursor: pointer;
}